@model OnlineShop.Models.Db.Order  

@{
    var products = ViewData["Products"] as List<OnlineShop.Models.ViewModels.ProductCartViewModel>;
}

<!--Checkout page section-->
<div class="checkout_section" id="accordion" style="margin-top:200px">
    <div class="container">
        <div class="returning_coupon_area">
            <div class="row d-flex justify-content-end">
           @*      <div class="col-lg-7 col-md-6">
                    <div class="user-actions">
                        <h3>
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">Click here to login</a>

                        </h3>
                        <div id="checkout_login" class="collapse" data-parent="#accordion">
                            <div class="checkout_info">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                                <form action="#">
                                    <div class="form_group">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group">
                                        <label>Password  <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group group_3 ">
                                        <button class="btn btn-primary" type="submit">Login</button>
                                        <label for="remember_box">
                                            <input id="remember_box" type="checkbox">
                                            <span> Remember me </span>
                                        </label>
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> *@
                <div class="col-lg-5 col-md-6">
                    <div class="user-actions">
                        @if (TempData["message"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["message"]
                            </div>
                        }
                        <h3>
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            Have a Coupon ?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_coupon2" aria-expanded="true">Click here to enter your code</a>

                        </h3>
                        <div id="checkout_coupon2" class="collapse" data-parent="#accordion">
                            <div class="checkout_info coupon_info">
                                <form asp-action="ApplyCouponCode">
                                    <input placeholder="Coupon code" type="text" name="couponCode">
                                    <button class="btn btn-primary" type="submit">Apply coupon</button>
                                </form>
                                <br />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <form asp-action="Checkout">
             <input type="hidden" asp-for="CouponCode" />
             <input type="hidden" asp-for="Shipping" />
        <div class="checkout_form">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    
                        <h3>Billing Details</h3>
                        <div class="checkout_form_input">
                            <label for="country">country <span>*</span></label>
                            <select class="select_option" asp-for="Country" id="country">
                                <option value="2">United Kingdom (UK)  </option>
                                <option value="3">Algeria</option>
                                <option value="4">Afghanistan</option>
                                <option value="5">Ghana</option>
                                <option value="6">Albania</option>
                                <option value="7">Bahrain</option>
                                <option value="8">Colombia</option>
                                <option value="9">Dominican Republic</option>
                            </select>
                        </div>
                        <div class="checkout_form_input">
                            <label>First Name <span>*</span></label>
                            <input type="text" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label>Last Name  <span>*</span></label>
                            <input type="text" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label>Company Name</label>
                            <input type="text" asp-for="CompanyName">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label>Address  <span>*</span></label>
                            <input type="text" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="checkout_form_input">
                            <label>Town / City <span>*</span></label>
                            <input type="text" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label> Email  <span>*</span></label>
                            <input type="text" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label> Phone <span>*</span></label>
                            <input type="text" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="checkout_form_input">
                            <label> Comment </label>
                            <input type="text" asp-for="Comment">
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                   
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="order_table_right">
                        <form action="#">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in products)
                                        {
                                            <tr>
                                                <td> @item.Title   </td>
                                                <td class="text-right"> $@item.RowSumPrice.GetValueOrDefault(0).ToString("F")  </td>
                                            </tr>
                                        }
                      
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Cart Subtotal  </td>
                                            <td class="text-right">
                                                $@products.Sum(x=>x.RowSumPrice)?.ToString("F")
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Shipping  </td>
                                            <td class="text-right">$@Model.Shipping?.ToString("F")</td>
                                        </tr>
                                        @if (!string.IsNullOrEmpty(Model.CouponCode))
                                        {
                                            <tr>
                                                <td>
                                                    Discount - &nbsp; @Model.CouponCode &nbsp; &nbsp;
                                                    <a href="/cart/Checkout">
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                </td>
                                                <td class="text-right">
                                                    $@Model.CouponDiscount?.ToString("F")
                                                </td>
                                            </tr>
                                        }
                                       
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            @{
                                                var ordertotal = (products.Sum(x => x.RowSumPrice) ?? 0) + (Model.Shipping ?? 0) - (Model.CouponDiscount ?? 0);
                                                ordertotal = ordertotal > 0 ? ordertotal : 0; // Ensure order total is not negative
                                            }
                                            <td class="text-right">
                                                $@ordertotal.ToString("F")
                                                </td>
                                        </tr>
                                    </tfoot>
                                </table>
@*                                 <div class="panel-default">
                                    <div class="panel_radio">
                                        <input id="payment1" name="check_method" type="radio" data-target="createp_account" />
                                        <span class="checkmark"></span>
                                    </div>

                                    <label for="payment1" data-toggle="collapse" data-target="#panel1">direct bank transfer</label>
                                    <div id="panel1" class="collapse show one" data-parent="#accordion">
                                        <div class="card-body1">
                                            <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-default">
                                    <div class="panel_radio">
                                        <input id="payment2" name="check_method" type="radio" data-target="createp_account" />
                                        <span class="checkmark"></span>
                                    </div>
                                    <label for="payment2" data-toggle="collapse" data-target="#method2">cheque payment</label>
                                    <div id="method2" class="collapse two" data-parent="#accordion">
                                        <div class="card-body1">
                                            <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-default">
                                    <div class="panel_radio">
                                        <input id="payment3" name="check_method" type="radio" data-target="createp_account" />
                                        <span class="checkmark"></span>
                                    </div>
                                    <label for="payment3" data-toggle="collapse" data-target="#method3">cash on delivery</label>
                                    <div id="method3" class="collapse three" data-parent="#accordion">
                                        <div class="card-body1">
                                            <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-default">
                                    <div class="panel_radio">
                                        <input id="payment4" name="check_method" type="radio" data-target="createp_account" />
                                        <span class="checkmark"></span>
                                    </div>
                                    <label for="payment4" data-toggle="collapse" data-target="#method4">Paypal</label>
                                    <div id="method4" class="collapse four" data-parent="#accordion">
                                        <div class="card-body1">
                                            <p>Donec sed odio dui. Nulla vitae elit libero, a phara etra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                            <div class="place_order_btn">
                             
                                <input class="btn btn-dark btn-block" type="submit" value="place order" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!--Checkout page section end-->