<div class="shopping_cart_area" style="margin-top:200px;">

    <div class="container">

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Danh mục không tồn tại!</h4>
            <p>Có vẻ như danh mục không tồn tại trong cửa hàng. Hãy quay về trang sản phẩm và mua sắm ngay!</p>
            <hr>
            <p class="mb-0"><a href="/products" class="btn btn-primary">Khám phá cửa hàng</a></p>
        </div>

    </div>


</div>